@charset "utf-8";

$fontfamily: 'Open Sans', Helvetica,Arial, sans-serif;
$fontweight: 400;

$appwidth: 1920px;
$appheight: 1080px;
$appbackgroundcolor: white;
$camerawidth: 1280px;
$cameraheight: 720px;
$pickerwidth:100px;
$pickerheight:75px;
$panelrightwidth:639px;
$defpadding: 10px;
$linkcolor: #4789ec;

$object-list: 'panel-left', 'panel-right', 'camera', 'panel-file-import', 'panel-file-export', 'picker', 'icon img', 'player', 'file';
$object-float: left, left, left, left, left, '', '', '', '';
$object-color: black, grey, #cccccc, #1d478e, white, '', '', '', '';
$object-width: $camerawidth, $panelrightwidth, $camerawidth, $panelrightwidth, $panelrightwidth, $pickerwidth, '', $panelrightwidth, '';
$object-height: $appheight, $appheight, $cameraheight, (($cameraheight)/2), (($appheight)-($cameraheight/2)), $pickerwidth, '', (($cameraheight)/2), '';
$object-hover: '', '', '', '', '', '', red, '', '';
$object-cursor: '', '', '', '', '', '', pointer, '', pointer;
$object-left: '', '', '', '', '', ((($panelrightwidth)-$pickerwidth)-$defpadding), '', 0px, '';
$object-top: '', '', '', '', '', ((($cameraheight/2)-$pickerwidth)-$defpadding), '', 0px, '';
$object-transition: '', '', '', '', '', '', all 0.5s, '', '';
$object-background: '', '', '', 'images/icon-video.png', '', 'images/drop-file.png', '', '', 'images/icon-download.png';
$object-background-position: '', '', '', 'center', '', 'center', '', '', 'left';
$object-background-width: '', '', '', '', '', $pickerwidth, '', '', '';
$object-background-height: '', '', '', '', '', $pickerheight, '', '', '';
$object-border: '', '', '', '', '', 1px, 1px, '', '';
$object-border-color: '', '', '', '', '', white, white, '', '';
$object-border-type: '', '', '', '', '', dashed, solid, '', '';
$object-border-radius: '', '', '', '', '', 5px, 5px, '', '';
$object-animation: '', '', '', '', '', '', '', '', '';
$object-animation-duration: '', '', '', '', '', '', '', '', '';
$object-animation-repeat: '', '', '', '', '', '', '', '', '';